{% extends "layout.html" %}
{% block base %}
{{super()}}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/comments.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/one_blog.css')}}">

<br>

<div id="author-container">
    <div id="blog-title">{{blog.title}}</div>
    
    
    <div id="author-details">
        <a href="{{url_for('profile', username=blog.user.username, user_id=blog.user.id)}}">
         <img class="author-info"  id="author-image" src="{{blog.user.get_image()}}">
    <div  class="author-info" id="blog-author">Author: {{blog.user.username.title()}}</div>
         </a>
        
        <div class="author-info" id="blog-date">Posted: {{blog.timestamp|read_datetime}}</div>
        
        
        {% if blog_author_edit %}
        
        <div id="blog-author-buttons">
            
            <span class="author-buttons" id="edit-blog"><a href="{{url_for('blog_admin_view.edit_blog', author=author.username, blog_id= blog.id, blog_title = blog.title)}}">Edit Blog</a>
            </span>
            
            <span class="author-buttons" id="delete-blog" onclick="DeleteBlog(this)">Delete Blog</span>
            
        </div>
        
        
        {% endif %}
       
    </div>
   
    <hr>


</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card" id="full-blog-text">
     
        
        {{blog_text|safe}}
    </div>
    <div class="card" id="comment-card">
      
       
        
        
  <center>      
<form method = "POST">
    <input type="hidden" value="{{csrf_token()}}" name="csrf_token">
    <textarea placeholder = "Add a cool comment..." id="comment"></textarea><br>
    <input type="button" id="submit" value="Comment"><br><br>

</form>
    
    <hr>
    

    <span id="comment-error"></span>

    <span onclick="ToggleComments(this)" id="toggle-comments">Toggle Comments <span id="comment-count"></span></span><br><br>
</center>


<div id="comment-id"></div>

        
        
        
        
        
        
        
    </div>
  </div>
  <div class="rightcolumn">
   
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>


   
  </div>
</div>




 <div class="footer">
 <div id="full-footer">

<a href="{{url_for('home')}}">
<img id="logo-blog-footer" src="{{url_for('static',filename='images/blog.png')}}">
</a>
<ul id="footer-list">
    <li><a  href="{{url_for('contact')}}">Contact</a></li>
    <li><a  href="{{url_for('blog_section.blogs', page=1)}}">Blogs</a></li>
    <li><a  href="{{url_for('login')}}">Login</a></li>
    <li><a  href="{{url_for('register')}}">Sign up</a></li>
</ul>
    
<br><br><br>
    <hr>

</div>
     
     
     


<script type="text/javascript" >
    
    
var token = {{csrf_token()|tojson}};
var currentUserID = {{current_user_id|tojson}};
var visitor = {{visitor|tojson}};
var blogID = {{blog_id|tojson}};
    
var authorID = {{blog.user_id|tojson}};
    
var comments = {{comment_list|tojson}};


console.log(comments);
    
$.getScript("/static/js/comments.js", function(){

    });

</script>


    
    
    
    
    
    
    
    
    
    
{% endblock base %}
    
    
    
    
    
    
    