<style>




#box{
    padding:800px;
    background:purple;
    }




</style>

<body>



<div id="showScroll"></div>


<div id="box"></div>


<script>
var show = document.getElementById('showScroll');
    
console.log(show.scrollWidth);
    
var body = document.body.scrollWidth;
    

// document.body.addEventListener('move', function() {
    
    while(document.body.scrollWidth == body){
        
        
        
//         var show = document.getElementById('showScroll');
    
   
        
        
        
    }
        
        
        
        
        
    
//   document.getElementById('showScroll').innerHTML = "<h1>You've scrolled!!!</h1>";
// });
    
</script>
    
</body>